@theme {
  --color-orange: #fa7315;
  --color-blue: #3575df;
  --color-blue-light: #1de5da;
  --color-blue-dark: #768cc0;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffde2f;
  --color-red: #ff4648;
  --color-pink: #ec4899;
  --color-yellow-light: #fff6cd;
  --shadow-big: 0.4rem 0.4rem 0px 0px rgba(0, 0, 0, 0.75);
  --shadow-small: 0.2rem 0.2rem 0px 0px rgba(0, 0, 0, 0.75);

  --font-DMSans: DMSans, sans-serif;

  --animate-dot-wave: dot-wave 0.9s ease infinite;

  --animate-flame-up: flame-up 2s line;

  --animate-up-down: up-down 2s ease-in-out infinite;

  --animate-spin-slow: spin 10s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes dot-wave {
    0% {
      transform: scale(0.95);
      opacity: 1;
    }

    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  @keyframes flame-up {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 100%;
    }
  }
}
