/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import './styles/normalize.css';
@import './styles/variables.css';
@import './styles/fonts.css';
@import './styles/theme.css';
@import './styles/loading.css';

html {
  font-size: 16px;
  font-family: var(--main-font);
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}

* {
  user-select: none;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-300%) scale(0);
  }
}

.dot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: rgba(239, 68, 68, 0.4); /* Tailwind red-500 with opacity */
  transform: translate(-50%, -50%) scale(1);
  animation: pulse-wave 1.5s ease-out infinite;
  z-index: -1;
}

@keyframes pulse-wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 6px; /* thin width */
  height: 6px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* or any color for track */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* black scrollbar */
  border-radius: 3px; /* rounded edges */
  border: 1px solid transparent; /* optional for better look */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* slightly lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* makes scrollbar thin */
  scrollbar-color: rgb(232, 98, 185) transparent; /* thumb color, track color */
}
